# Average Purchase per Review Score
Our goal is to analyze how review scores correlate with the number of purchases made by each user. We'll examine the average number of purchases for users grouped by score ranges from 0 to 5. The aim is to verify whether higher review scores are associated with a greater likelihood of repeated purchases.

## Library Import

In [4]:
import pandas as pd

## Extracting Data

In [37]:
df = pd.read_csv('dataset/Reviews_t.csv')
df.head(3)

,Id,ProductId,UserId,ProfileName,PositiveHelpfulness,NegativeHelpfulness,TotalHelpfulness,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,0,1,5,2011-04-27 00:00:00+00:00,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,0,1,2012-09-07 00:00:00+00:00,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,0,1,4,2008-08-18 00:00:00+00:00,"""Delight"" says it all",This is a confection that has been around a fe...

## Transforming

In [66]:
labels = ['0-1', '1-2', '2-3', '3-4', '4-5']
bins = [0, 1, 2, 3, 4, 5]

df_v1 = df.groupby('UserId')['Score'].agg(['mean', 'count']).reset_index()

df_v1['ScoreRange'] = pd.cut(df_v1['mean'], bins=bins, labels=labels, include_lowest=True, right=True)
df_v2 = df_v1.groupby('ScoreRange')['count'].mean().reset_index().rename(columns={'count':'AveragePurchases'})
df_v2['AveragePurchases'] = df_v2['AveragePurchases'].round(2)

df_v2

C:\Users\Luan\AppData\Local\Temp\ipykernel_18248\416306371.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_v2 = df_v1.groupby('ScoreRange')['count'].mean().reset_index().rename(columns={'count':'AveragePurchases'})

  ScoreRange  AveragePurchases
0        0-1              1.50
1        1-2              1.83
2        2-3              2.14
3        3-4              2.84
4        4-5              2.23

In [67]:
df_v2.to_csv('dataset/Reviews_AvgPurchases.csv')