In [22]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('dataset/Reviews_t.csv')
df['Time'] = pd.to_datetime(df['Time'])

In [9]:
df.head(3)

,Id,ProductId,UserId,ProfileName,PositiveHelpfulness,NegativeHelpfulness,TotalHelpfulness,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,0,1,5,2011-04-27 00:00:00+00:00,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,0,1,2012-09-07 00:00:00+00:00,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,0,1,4,2008-08-18 00:00:00+00:00,"""Delight"" says it all",This is a confection that has been around a fe...

In [54]:
ym_sales = df.groupby([df['Time'].dt.year.rename('Year'), df['Time'].dt.month.rename('Month')]).size().to_frame('Sales')
ym_sales.head(10)

            Sales
Year Month
1999 10         2
     12         4
2000 1          8
     2          3
     6          5
     7          1
     8          5
     10         3
     12         7
2001 2          1

In [56]:
ym_sales.to_csv('dataset/Reviews_ymsales.csv')