In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('dataset/Reviews_t.csv')

In [7]:
dft = df.copy()

,Id,ProductId,UserId,ProfileName,PositiveHelpfulness,NegativeHelpfulness,TotalHelpfulness,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,0,1,5,2011-04-27 00:00:00+00:00,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,0,1,2012-09-07 00:00:00+00:00,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,0,1,4,2008-08-18 00:00:00+00:00,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,0,3,2,2011-06-13 00:00:00+00:00,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,0,5,2012-10-21 00:00:00+00:00,Great taffy,Great taffy at a great price. There was a wid...

In [26]:
dft['Time'] = pd.to_datetime(dft['Time'])
dft['Year'] = dft['Time'].dt.year

product_sales = dft.groupby(['Year','ProductId']).size().reset_index(name='Sales_Count')

product_sales = product_sales.sort_values(['Year', 'Sales_Count'], ascending=[True, False]).groupby('Year').head(10).reset_index(drop=True)
product_sales

     Year   ProductId  Sales_Count
0    1999  0006641040            2
1    1999  B00004CXX9            2
2    1999  B00004CI84            1
3    1999  B00004RYGX            1
4    2000  B00004CXX9            9
..    ...         ...          ...
122  2012  B007Y59HVM          480
123  2012  B001VJ0B0I          479
124  2012  B002LANN56          460
125  2012  B0041NYV8E          450
126  2012  B005K4Q1YA          414

[127 rows x 3 columns]

In [24]:
product_sales.to_csv('dataset/Reviews_prod_sales.csv')